* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Patrick Hand', cursive;
}
p, h1, h2, h3 {
    color: rgb(90, 76, 75);
}


.container {
    max-width: 1280px;
    margin: auto;
    overflow: hidden;
    background: rgb(90, 76, 75);
}
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background: url('./picture/gridBack.png') no-repeat center bottom/cover;
}

/* navbar */
#navbar {
    display: flex;
    position: sticky;
    top: 0;
    background: rgb(90, 76, 75);
    color: rgb(216,211,204);
    justify-content: space-around;
    padding: 0.5rem;
    z-index: 1;}
    #navbar p {
        color: rgb(216,211,204);
        font-size: 1.5rem;}
        #navbar ul {
            display: flex;
            align-items: center;
            list-style: none;}
            #navbar ul li a {
                text-decoration: none;
                color: rgb(216,211,204);
                font-size: 1.5rem;
                padding: 0.5rem;
                margin: 0 0.5rem;}
                #navbar ul li a:hover {
                    background: rgb(155,147,143);
                    color: rgb(90, 76, 75);
                    border-radius: 5px;}
#grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 30vw 10vw;}
    #grid div:last-child {
        grid-column: 1 / span 2;}

.item {
    display: inline-block;
    /* border: 1px solid black; */
}
button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.btn {
    display: inline-block;
    border: 2px rgb(90, 76, 75) solid;
    border-radius: 1rem;
    color: rgb(90, 76, 75);
    text-decoration: none;
    font-size: 2rem;
    margin-bottom: 1rem;
    transition: all 0.3s ease-in;}
    .btn:hover {
        background: rgb(244, 142, 126);
        border-color: rgb(238, 62, 69);
    }


#box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;}
    .container #box h1 {
        font-size: 3rem;
    }
    .container #box #imgBack {
        background: url('./picture/chartBack.png') no-repeat center center/contain;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .container #box img {
        width: 80%;
        height: 80%;
        -webkit-filter: drop-shadow( 7px 7px 5px rgba(0, 0, 0, .75));
        filter: drop-shadow( 7px 7px 5px rgba(0, 0, 0, .75));}
        .container #box h2 {
            margin-bottom: 1rem;
        }

#icons {
    margin-left: 2rem;
    display: grid;
    grid-template-rows: 75% 25%;
    grid-template-columns: 100%;}
    #icons #btns {
        grid-column: 1 / span 2;
        display: grid;
        grid-template-rows: 50% 50%}
    #icons ul {
        display: grid;
        grid-template-columns: repeat(2, auto);}
        #icons ul li {
            display: flex;
            align-items: center;
            justify-content: center;}

span.icon {
    background: url(/picture/icon01.svg);
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    height: 70px;
    width: 70px;
    }
    span.icon#i2 {
        background: url(/picture/icon02.svg);}
        span.icon#i3 {
            background: url(/picture/icon03.svg);}
            span.icon#i4 {
                background: url(/picture/icon04.svg);}
                span.icon#i5 {
                    background: url(/picture/icon05.svg);}
                    span.icon#i6 {
                        background: url(/picture/icon06.svg);}

#text {
    padding: 0.5rem 2rem;
    text-align: justify;
    font-size: 1.3rem;
    margin: 0 1rem;
    background: rgb(216, 211, 204);
    border-radius: 1rem;
    opacity: 0.95;
    border: 2px solid rgb(90, 76, 75);}
    #text p, #text h2 {
        color: rgb(90, 76, 75);}
        #text p {
            line-height: 1.2rem;
            font-family: 'Source Sans Pro' !important;}

/* explanation */
#explanation {
    background: pink;
    visibility: hidden;
    overflow: hidden;
}

.selected {
    border-style: solid;
    border-color: rgb(238, 62, 69);
    border-width: 2px;
    border-radius: 50%;
}



