* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p, h1, h2, h3 {
    color: rgb(90, 76, 75);
}


.container {
    max-width: 1280px;
    margin: auto;
    overflow: hidden;
    background: rgb(90, 76, 75);
}
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
    height: 100vh;
    background: url('./picture/gridBack.png') no-repeat center center/cover;
}

/* navbar */
#navbar {
    display: flex;
    position: sticky;
    top: 0;
    background: #333;
    color: #fff;
    padding: 0.5rem;
    z-index: 1;
}
#grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 30vw 10vw;}
    #grid div:last-child {
        grid-column: 1 / span 2;}

.item {
    display: inline-block;
}
button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.btn {
    display: inline-block;
    
    border: 2px rgb(90, 76, 75) solid;
    border-radius: 1rem;
    color: rgb(90, 76, 75);
    text-decoration: none;
    font-size: 1.1rem;
    margin-bottom: 1rem;
    transition: all 0.3s ease-in;
}

ul {
    display: flex;
    list-style: none;
}

#box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;}
    .container #box #imgBack {
        background: url('./picture/chartBack.png') no-repeat center center/contain;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .container #box img {
        width: 80%;
        height: 80%;
        -webkit-filter: drop-shadow( 7px 7px 5px rgba(0, 0, 0, .75));
        filter: drop-shadow( 7px 7px 5px rgba(0, 0, 0, .75));}
        .container #box h2 {
            margin-bottom: 1rem;
        }

#icons {
    margin-left: 2rem;
    display: grid;
    grid-template-rows: 75% 25%;
    grid-template-columns: 100%;}
    #icons #btns {
        grid-column: 1 / span 2;
        display: grid;
        grid-template-rows: 50% 50%
    }
    #icons ul {
        display: grid;
        grid-template-columns: repeat(2, auto);}
        #icons ul li {
            display: flex;
            align-items: center;
            justify-content: center;
        }

span.icon {
    background: url(/picture/icon01.svg);
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    height: 70px;
    width: 70px;
    }
    span.icon#i2 {
        background: url(/picture/icon02.svg);}
        span.icon#i3 {
            background: url(/picture/icon03.svg);}
            span.icon#i4 {
                background: url(/picture/icon04.svg);}
                span.icon#i5 {
                    background: url(/picture/icon05.svg);}
                    span.icon#i6 {
                        background: url(/picture/icon06.svg);}

#text {
    padding: 2rem;
    text-align: center;
}
/* explanation */
#explanation {
    background: pink;
    visibility: hidden;
    overflow: hidden;
}

.selected {
    border-style: solid;
    border-color: white;
    border-width: 2px;
    border-radius: 50%;
}



